@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

.font {
  font-family: "Mansalva", cursive;
  font-size: 35px;
  color: green;
  margin-top: 50px;
  @apply text-center font-bold;
}

.cimg {
  width: 100px;
}
